[req]
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
C = DE
ST = Bavara
L = Sonthofen
O = Test-Chat
#OU = Org Unit Name
CN = 192.168.3.120
emailAddress = stub

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
IP.1 = 127.0.0.1
IP.2 = 192.168.3.120